rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // REGRA PARA PERMITIR FEEDBACK
    // Permite que qualquer usuário autenticado crie (escreva) um novo
    // documento na coleção 'feedbacks'.
    match /feedbacks/{feedbackId} {
      allow create: if request.auth != null;
    }

    // Regras para congregações
    match /congregations/{congregationId} {
      allow read: if request.auth != null; // Qualquer usuário autenticado pode ler dados da congregação.
      allow update: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'Administrador'; // Apenas Admins podem editar.
    
      // Regras para territórios dentro de uma congregação
      match /territories/{territoryId} {
        allow read: if request.auth != null;
        allow create, update, delete: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'Administrador';

        // Subcoleções de territórios
        match /{allSubcollections=**} {
           allow read, write: if request.auth != null; // Regra aberta para quadras, casas, etc.
        }
      }
    }

    // Regras para usuários
    match /users/{userId} {
      allow read: if request.auth != null;
      allow create: if request.auth == null; // Permitir que novos usuários se cadastrem
      allow update: if request.auth.uid == userId || get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'Administrador';
      allow delete: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'Administrador';
    }
  }
}
